<!--The content below is only a placeholder and can be replaced.-->
<!-- https://www.youtube.com/watch?v=wPT3K3w6JtU -->

<h1>mat-checkbox</h1>
<p></p>
<mat-checkbox
#showDetails
  [value]=""
  [checked]="isChecked"
  (change)="onChange($event)"
>Show details</mat-checkbox>
<div *ngIf="showDetails.checked">
  Some details...
</div>
<p></p>
<mat-radio-group>
  <mat-radio-button value="1">Male</mat-radio-button>
  <mat-radio-button value="2" >Female</mat-radio-button>  <!-- [checked]="isChecked" -->
</mat-radio-group>
<p></p>
<mat-radio-group class="example-radio-group">
  <mat-radio-button class="example-radio-button" *ngFor="let season of seasons" [value]="season">
    {{season}}
  </mat-radio-button>
</mat-radio-group>

<p>Drop down</p>
<form>
  <mat-form-field>
    <mat-select placeholder="Favorite food" [(ngModel)]="selectedValue" name="food">
      <mat-option *ngFor="let food of foods" [value]="food.value">
        {{food.viewValue}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <p> Selected value: {{selectedValue}} </p>
</form>







